fieldset {
	border: 1px solid #054F77 !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: absolute !important;
    border-radius: 4px;
    background-color: #FFF;
    padding-left: 10px !important;
    height: 28%;
    top: 25%;
    left: 30%;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 32%;
	border-radius: 4px;
	padding: 5px 5px 5px 0px;
	background-color: #ffffff;
}

.logo-araujo {
    height: 100px;
    padding: 15px 0px 10px 0px;
}

.panel-body {
	text-align: center;
	font-size: 35px;
	margin-top: -15px;
}

.pagina-principal {
	text-align: center;
}